<div class="mycontainer landing-container">
    <div class="landing-grid">
      <div class="left-sec" data-aos="fade-right" data-aos-duration="750">
        <h1>We Collect High Quality Lead</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod unde quia possimus hic et quos cum, reprehenderit fugit dolorem excepturi, nisi dolores mollitia enim quibusdam quas! Eaque facilis blanditiis beatae.</p>
        <button class="btn mybtn c-white rad-6">Contact Us</button>
      </div>
      <div class="right-sec" data-aos="fade-left" data-aos-duration="1250" >
        <img src="../../../../assets/imgs/landing.png" alt="">
      </div>
    </div>
</div>