<div class="why-choose-us-container mycontainer">
    <div class="why-grid">
        <div class="left-sec" data-aos="flip-left" data-aos-duration="1500"
        data-aos-delay="500">
            <img src="../../../../assets/imgs/creative_1.jpg" alt="">
        </div>
        <div class="right-sec" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="700">
            <h1>Why Choose Creative Team ?</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident eos quis consectetur voluptas itaque minus, nesciunt amet dolore, commodi, magni a. Tempora incidunt similique at quis optio quasi qui sequi.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident eos quis consectetur voluptas itaque minus, nesciunt amet dolore, commodi, magni a. Tempora incidunt similique at quis optio quasi qui sequi.</p>
        </div>
    </div>
</div>